<section class="register-page">
  <mat-card class="register-page_card">
    @if (!loginSucess) {
      <form class="register-page_card_form" [formGroup]="signUpForm" (ngSubmit)="submit()">
        <button mat-icon-button class="home-btn" routerLink="/home" type="button">
          <mat-icon>close</mat-icon>
        </button>
  
        <h1>Sign up</h1>
        <span class="register-page_card_form_span">Enter your informations below</span>
  
        <div class="register-page_card_form_name">
          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" />
            @if (signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched) {
              <mat-error>{{ blankError }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" />
            @if (signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched) {
              <mat-error>{{ blankError }}</mat-error>
            }
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="email@example.com" />
          @if (signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched) {
            <mat-error>{{ emailError }}</mat-error>
          }
        </mat-form-field>
  
        <!-- Campos de senha dentro do FormGroup aninhado -->
        <div class="password-form" formGroupName="passwordForm">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            @if (password.invalid && password.touched) {
              <mat-error>{{ passwordError }}</mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
            @if (confirmPassword.touched) {
              <mat-error>{{ passwordMatchError }}</mat-error>
            }
          </mat-form-field>
        </div>
  
        <button mat-flat-button color="primary" class="register-page_card_form_register-btn" type="submit">
          Sign up
        </button>
      </form>
    } @else {
      <div class="register-page_sucess">
        <span class="register-page_card_form_span">Sucessful register!</span>
        <a class="link_gotologin" routerLink="/login">Go to login</a>
      </div>
    }
  
      <div class="register-page_card_img-container">
        <img class="register-page_card_img-container_bg" src="bg_login.jpg" alt="background" />
        <img class="register-page_card_img-container_logo" src="logo_branco.webp" alt="logo" />
      </div>

    
  </mat-card>
</section>